  
Django                        
django-cors-headers         
djangorestframework          
keras                        
nltk                        
numpy                           
tensorflow                   